@font-face {
    font-family: "SourceSansPro";
    src: url('/fonts/SourceSansPro-Regular.ttf');
}
@font-face {
    font-family: "SourceSansPro";
    src: url('/fonts/SourceSansPro-Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: "SourceSansPro";
    src: url('/fonts/SourceSansPro-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: "SourceSansPro";
    src: url('/fonts/SourceSansPro-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}